.diagram-template-name-editor fa-icon {
    color: black;
}
.diagram-template-name-editor .btn {
    /* margin: auto 2px; */
}
.diagram-template-name-editor .btn:hover {
    background-color: whitesmoke;
}
.diagram-template-name-editor .btn:active {
    border: 2px solid whitesmoke; /* to give user the perception of some click "action" */
}

.diagram-template-name-editor-validator-messages {
    font-family: "Open Sans",sans-serif;
    font-size: 9px;
    font-style: italic;
    color: red;
    margin-top: 5px;
}
