<div class="status-bar-content">
  @if (this.displayTool) {
    <div class="status-bar-cluster">
      <div class="status-chip status-chip--mode">
        <span class="status-chip-dot" aria-hidden="true"></span>
        <span class="status-chip-label">Mode</span>
        <span class="status-chip-value">{{this.displayTool}}</span>
      </div>
    </div>
  }

  <div class="status-bar-spacer"></div>

  @if (this.zoomPercentage !== undefined) {
    <div class="status-bar-cluster status-bar-cluster--end">
      <div class="status-chip">
        <mat-icon class="status-chip-icon" fontSet="material-icons-outlined">zoom_in</mat-icon>
        <span class="status-chip-label">Zoom</span>
        <span class="status-chip-value">{{this.zoomPercentage | percent:'1.0-0'}}</span>
      </div>
    </div>
  }
</div>
