.status-bar-content {
    /* dimensions */
    width: calc(100vw - 50px);
    height: 25px;

    /* padding, margin etc */
    background-color: lightgrey;
    font-family: "Roboto Mono",sans-serif;
    font-size: 11px;

    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.status-bar-content .user-profile-details {
    /* container for horizontal flexbox items */
    display: flex;
    justify-content: center;
    align-items: center;
}
.status-bar-content .zoom-details {
    /* padding, margin etc */
    padding-right: 10px;
}
