<div class="propertyWindowSplitterWrapper">

  <div class="propertyWindowSplitterHeadlineWrapper">
    <div class="propertyWindowSplitterHeadline">Text</div>
    <div>
      @if (this.isLocked()) {
        <button type="button" class="btn" aria-label="Unlock text" matTooltip="text locked (click to unlock)"
          (click)="this.unlock()">
          <fa-icon class="color-success" [icon]="this.faLockedIcon"></fa-icon>
          <span class="propertyWindowStateText">Locked</span>
        </button>
      }
      @if (!this.isLocked()) {
        <button type="button" class="btn" aria-label="Lock text" matTooltip="text unlocked (click to lock)"
          (click)="this.lock()">
          <fa-icon class="color-warning" [icon]="this.faUnlockedIcon"></fa-icon>
          <span class="propertyWindowStateText">Unlocked</span>
        </button>
      }
    </div>
  </div>

  <div class="propertyWindowPaneContent" [class.propertyWindowPaneContentLocked]="this.isLocked()"
    [attr.inert]="this.isLocked() ? '' : null" [attr.aria-disabled]="this.isLocked()">
    <mat-tab-group dynamicHeight="true" animationDuration="0ms" [disablePagination]="true" [disableRipple]="true">
      <mat-tab label="Style">
        <section class="propertyWindowPaneGroup">
          <div class="propertyWindowPaneHeader">Style</div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Opacity</span>
              </div>
              <span class="propertyWindowPaneValuePill propertyWindowPaneItemMono">{{this.activeTextShape.style.opacity|percent}}</span>
            </div>
            <mat-slider color="primary" [min]="this.opacitySliderMin" [max]="this.opacitySliderMax"
              [step]="this.opacitySliderStep" #ngSlider>
              <input matSliderThumb aria-label="Text opacity" [value]="this.activeTextShape.style.opacity"
                (valueChange)="this.onOpacityChange($event)" />
            </mat-slider>
          </div>
        </section>

        <section class="propertyWindowPaneGroup">
          <div class="propertyWindowPaneHeader">Miscellaneous</div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemCheckbox">
            <div class="propertyWindowPaneLabelStack">
              <span class="propertyWindowPaneItemLabel">Lock aspect ratio</span>
            </div>
            <mat-checkbox aria-label="Lock text aspect ratio" color="primary" [checked]="this.isSymbolAspectRatioLocked"
              [disableRipple]="true" (change)="this.onSymbolAspectRatioLockChange($event)"></mat-checkbox>
          </div>
          <div class="propertyWindowPaneMetadataGrid">
            <div class="propertyWindowPaneMetadataChip">
              <span class="propertyWindowPaneMetadataLabel">Dimensions</span>
              <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">W {{this.activeTextShape.width.toFixed(0) }} H {{this.activeTextShape.height.toFixed(0) }}</span>
            </div>
            <div class="propertyWindowPaneMetadataChip">
              <span class="propertyWindowPaneMetadataLabel">Z-index</span>
              <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">{{this.activeTextShape.zIndex}}</span>
            </div>
            <div class="propertyWindowPaneMetadataChip propertyWindowPaneMetadataChipWide">
              <span class="propertyWindowPaneMetadataLabel">Id</span>
              <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">{{this.activeTextShape.id}}</span>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Text">
        <section class="propertyWindowPaneGroup">
          <div class="propertyWindowPaneHeader">Text</div>
          <div class="propertyWindowPaneItem">
            <div class="propertyWindowPaneLabelStack">
              <span class="propertyWindowPaneItemLabel">Color</span>
              <span class="propertyWindowPaneItemMeta propertyWindowPaneItemMono">{{this.textColor|uppercase}}</span>
            </div>
            <label class="propertyWindowPaneColorSwatch">
              <input type="color" aria-label="Text color" [(ngModel)]="this.textColor" />
            </label>
          </div>
          <div class="propertyWindowPaneItem">
            <div class="propertyWindowPaneLabelStack">
              <span class="propertyWindowPaneItemLabel">Background</span>
              <span class="propertyWindowPaneItemMeta propertyWindowPaneItemMono">{{this.textBackgroundColor|uppercase}}</span>
            </div>
            <label class="propertyWindowPaneColorSwatch">
              <input type="color" aria-label="Text background color" [(ngModel)]="this.textBackgroundColor" />
            </label>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Styling</span>
              </div>
            </div>
            <mat-button-toggle-group multiple>
              <mat-button-toggle aria-label="Bold text" matTooltip="Bold" [checked]="this.isTextBold" [disableRipple]="true"
                (click)="this.onBoldButtonClick()">
                <mat-icon fontSet="material-icons-outlined">format_bold</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Italic text" matTooltip="Italic" [checked]="this.isTextItalic" [disableRipple]="true"
                (click)="this.onItalicButtonClick()">
                <mat-icon fontSet="material-icons-outlined">format_italic</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Decoration</span>
              </div>
            </div>
            <mat-button-toggle-group [(ngModel)]="this.textDecoration">
              <mat-button-toggle aria-label="Underline text" [value]="this.textDecorationUnderLine"
                [matTooltip]="this.textDecorationUnderLine" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_underlined</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Strikethrough text" [value]="this.textDecorationLineThrough"
                [matTooltip]="this.textDecorationLineThrough" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_strikethrough</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Overline text" [value]="this.textDecorationOverLine"
                [matTooltip]="this.textDecorationOverLine" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_overline</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Clear text decoration" [value]="this.textDecorationNone" [matTooltip]="this.textDecorationNone"
                [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">title</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Alignment</span>
              </div>
            </div>
            <mat-button-toggle-group [(ngModel)]="this.textAlignment">
              <mat-button-toggle aria-label="Align text left" [value]="this.textAlignmentLeft" [matTooltip]="this.textAlignmentLeft"
                [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_left</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Align text center" [value]="this.textAlignmentCenter" [matTooltip]="this.textAlignmentCenter"
                [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_center</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Align text right" [value]="this.textAlignmentRight" [matTooltip]="this.textAlignmentRight"
                [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_right</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Justify text" [value]="this.textAlignmentJustify" [matTooltip]="this.textAlignmentJustify"
                [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_justify</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Size</span>
              </div>
              <span class="propertyWindowPaneValuePill propertyWindowPaneItemMono">{{this.fontSize}}</span>
            </div>
            <mat-slider color="primary" [min]="this.fontSizeSliderMin" [max]="this.fontSizeSliderMax"
              [step]="this.fontSizeSliderStep" #ngSlider>
              <input matSliderThumb aria-label="Text font size" [value]="this.fontSize"
                (valueChange)="this.onFontSizeChange($event)" />
            </mat-slider>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
