:host {
    display: block;
    width: 100%;
}

.diagram-controls {
    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.diagram-controls .mat-mdc-icon-button {
    /* horizontal flexbox items */
    background-color: white;

    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.diagram-controls mat-icon {
    /* horizontal flexbox items */
}

.diagram-controls mat-divider {
    height: 20px; /* divider won't be visible without explicit height */
}

.diagram-controls-branding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: black;
}

.diagram-controls-branding .branding-logo {
    width: 28px;
    height: 28px;
    border-radius: 15%;
}

.diagram-controls-spacer {
    flex: 1 1 auto;
}


.diagram-controls .locked-btn {
    color: green;
}
.diagram-controls .unlocked-btn {
    color: orange;
}
.diagram-controls .delete-btn {
    color: red;
}
