.diagram-controls {
    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.diagram-controls .mat-icon-button {
    /* horizontal flexbox items */
    background-color: white;

    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.diagram-controls mat-icon {
    /* horizontal flexbox items */
}

.diagram-controls mat-divider {
    height: 20px; /* divider won't be visible without explicit height */
}


.diagram-controls .locked-btn {
    color: green;
}
.diagram-controls .unlocked-btn {
    color: orange;
}
.diagram-controls .delete-btn {
    color: red;
}