<div class="diagram-controls">

  <!-- branding logo -->
  <div class="diagram-controls-branding" matTooltip="CloudSkew">
    <img class="branding-logo" [src]="this.logoUrl" alt="CloudSkew">
  </div>
  <mat-divider [vertical]="true"></mat-divider>

  <!-- lock/unlock buttons -->
  @if (this.isLocked) {
    <button mat-icon-button matTooltip="diagram locked (click to unlock)"
      [class.locked-btn]="this.isLocked" [disableRipple]="true" (click)="this.onUnlockButtonClick()">
      <mat-icon fontSet="material-icons-outlined">lock</mat-icon>
    </button>
  }
  @if (!this.isLocked) {
    <button mat-icon-button matTooltip="diagram unlocked (click to lock)"
      [class.unlocked-btn]="!this.isLocked" [disableRipple]="true" (click)="this.onLockButtonClick()">
      <mat-icon fontSet="material-icons-outlined">lock_open</mat-icon>
    </button>
  }
  <mat-divider [vertical]="true"></mat-divider>

  <!-- delete button -->
  @if (!this.deleteInProgress) {
    <button mat-icon-button matTooltip="delete diagram"
      [class.delete-btn]="!this.isLocked" [disableRipple]="true" [disabled]="this.isLocked"
      (click)="this.deleteButtonClick.emit()">
      <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
    </button>
  }
  @if (this.deleteInProgress) {
    <button mat-icon-button matTooltip="delete diagram (in progress)"
      [disableRipple]="true" [disabled]="this.isLocked">
      <mat-icon>
        <mat-spinner [diameter]="this.spinnerDiameter" color="primary"></mat-spinner>
      </mat-icon>
    </button>
  }
  <mat-divider [vertical]="true"></mat-divider>

  <!-- import button -->
  <button mat-icon-button matTooltip="import diagram from JSON" [disableRipple]="true"
    (click)="this.importButtonClick.emit()">
    <mat-icon fontSet="material-icons-outlined">upload_file</mat-icon>
  </button>
  <mat-divider [vertical]="true"></mat-divider>

  <!-- add/remove symbols button -->
  <button mat-icon-button matTooltip="add/remove symbols" [disableRipple]="true"
    (click)="this.onAddRemoveSymbolsButtonClick()">
    <mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon>
  </button>
  <mat-divider [vertical]="true"></mat-divider>

  <!-- quick insert button -->
  <!-- the id="quick-insert-button" is needed for styling the quick insert button which
  doesn't look visually consistent with the other toolbar items when in disabled state
  (e.g. when diagram is locked). -->
  <button mat-icon-button matTooltip="quick insert" [disableRipple]="true" [disabled]="this.isLocked"
    [matMenuTriggerFor]="quickInsertMenu">
    <mat-icon fontSet="material-icons-outlined">add</mat-icon>
  </button>
  <mat-menu #quickInsertMenu="matMenu">
    <button mat-menu-item (click)="this.onLineConnectorSelect()">Line Connector</button>
    <button mat-menu-item (click)="this.onLineConnector2WaySelect()">Line Connector (2 Way)</button>
    <button mat-menu-item (click)="this.onElbowConnectorSelect()">Elbow Connector</button>
    <button mat-menu-item (click)="this.onElbowConnector2WaySelect()">Elbow Connector (2 Way)</button>
    <button mat-menu-item (click)="this.onCurvedConnectorSelect()">Curved Connector</button>
    <button mat-menu-item (click)="this.onCurvedConnector2WaySelect()">Curved Connector (2 Way)</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="this.onCircleSelect()">Circle / Ellipse</button>
    <button mat-menu-item (click)="this.onRectangleSelect()">Rectangle / Square</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="this.onTextSelect()">Text</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="this.onCustomImageSelect()">Custom Image</button>
  </mat-menu>
  <mat-divider [vertical]="true"></mat-divider>

  <!-- drawing tools/modes -->
  <button mat-icon-button matTooltip="select/edit mode" [disableRipple]="true"
    [disabled]="this.isSelectMode || this.isLocked" (click)="this.onSelectModeButtonClick()">
    <mat-icon fontSet="material-icons-outlined">near_me</mat-icon>
  </button>
  <button mat-icon-button matTooltip="pan/swipe mode" [disableRipple]="true"
    [disabled]="this.isPanMode|| this.isLocked" (click)="this.onPanModeButtonClick()">
    <mat-icon fontSet="material-icons-outlined">swipe</mat-icon>
  </button>
  <mat-divider [vertical]="true"></mat-divider>

  <!-- undo/redo buttons -->
  <button mat-icon-button matTooltip="undo edit" [disableRipple]="true"
    [disabled]="!this.isUndoPossible || this.isLocked" (click)="this.onUndoButtonClick()">
    <mat-icon fontSet="material-icons-outlined">undo</mat-icon>
  </button>
  <button mat-icon-button matTooltip="redo edit" [disableRipple]="true"
    [disabled]="!this.isRedoPossible || this.isLocked" (click)="this.onRedoButtonClick()">
    <mat-icon fontSet="material-icons-outlined">redo</mat-icon>
  </button>
  <mat-divider [vertical]="true"></mat-divider>

  <!-- zoom in/reset/out buttons -->
  <button mat-icon-button matTooltip="zoom out" [disableRipple]="true"
    [disabled]="!this.isZoomOutPossible || this.isLocked" (click)="this.onZoomOutButtonClick()">
    <mat-icon fontSet="material-icons-outlined">zoom_out</mat-icon>
  </button>
  <button mat-icon-button matTooltip="center view" [disableRipple]="true" [disabled]="this.isLocked"
    (click)="this.onCenterViewButtonClick()">
    <mat-icon fontSet="material-icons-outlined">center_focus_strong</mat-icon>
  </button>
  <button mat-icon-button matTooltip="zoom in" [disableRipple]="true"
    [disabled]="!this.isZoomInPossible || this.isLocked" (click)="this.onZoomInButtonClick()">
    <mat-icon fontSet="material-icons-outlined">zoom_in</mat-icon>
  </button>
  <mat-divider [vertical]="true"></mat-divider>

  <!-- export and print buttons -->
  @if (!this.exportInProgress) {
    <button mat-icon-button matTooltip="export diagram as image" [disableRipple]="true"
      (click)="this.exportButtonClick.emit()">
      <mat-icon fontSet="material-icons-outlined">file_download</mat-icon>
    </button>
  }
  @if (this.exportInProgress) {
    <button mat-icon-button matTooltip="export diagram as image (in progress)"
      [disableRipple]="true">
      <mat-icon>
        <mat-spinner [diameter]="this.spinnerDiameter" color="primary"></mat-spinner>
      </mat-icon>
    </button>
  }
  @if (!this.printInProgress) {
    <button mat-icon-button matTooltip="print diagram" [disableRipple]="true"
      (click)="this.printButtonClick.emit()">
      <mat-icon fontSet="material-icons-outlined">print</mat-icon>
    </button>
  }
  @if (this.printInProgress) {
    <button mat-icon-button matTooltip="print diagram (in progress)"
      [disableRipple]="true">
      <mat-icon>
        <mat-spinner [diameter]="this.spinnerDiameter" color="primary"></mat-spinner>
      </mat-icon>
    </button>
  }

  <span class="diagram-controls-spacer"></span>

  <!-- help and support button -->
  <button mat-icon-button matTooltip="help & support" [disableRipple]="true" [matMenuTriggerFor]="helpAndSupportMenu">
    <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
  </button>
  <mat-menu #helpAndSupportMenu="matMenu">
    <a mat-menu-item [disableRipple]="true" [href]="this.keyboardShortcutsUrl" target="_blank" rel="noopener"
      rel="noreferrer">
      <mat-icon fontSet="material-icons-outlined">keyboard_alt</mat-icon>
      <span>Keyboard shortcuts</span>
    </a>
    <a mat-menu-item [disableRipple]="true" [href]="this.faqsUrl" target="_blank" rel="noopener"
      rel="noreferrer">
      <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
      <span>FAQs</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item [disableRipple]="true" [href]="this.releaseNotesUrl" target="_blank" rel="noopener"
      rel="noreferrer">
      <mat-icon fontSet="material-icons-outlined">description</mat-icon>
      <span>Release Notes</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item [disableRipple]="true" [href]="this.githubIssuesUrl" target="_blank" rel="noopener"
      rel="noreferrer">
      <mat-icon fontSet="material-icons-outlined">feedback</mat-icon>
      <span>Report an issue on github</span>
    </a>
  </mat-menu>
</div>
