<div class="propertyWindowSplitterWrapper">

  <div class="propertyWindowSplitterHeadlineWrapper">
    <div class="propertyWindowSplitterHeadline">Image</div>
    <div>
      @if (this.isLocked()) {
        <button type="button" class="btn" aria-label="Unlock image" matTooltip="symbol locked (click to unlock)"
          (click)="this.unlock()">
          <fa-icon class="color-success" [icon]="this.faLockedIcon"></fa-icon>
          <span class="propertyWindowStateText">Locked</span>
        </button>
      }
      @if (!this.isLocked()) {
        <button type="button" class="btn" aria-label="Lock image" matTooltip="symbol unlocked (click to lock)"
          (click)="this.lock()">
          <fa-icon class="color-warning" [icon]="this.faUnlockedIcon"></fa-icon>
          <span class="propertyWindowStateText">Unlocked</span>
        </button>
      }
    </div>
  </div>

  <div class="propertyWindowPaneContent" [class.propertyWindowPaneContentLocked]="this.isLocked()"
    [attr.inert]="this.isLocked() ? '' : null" [attr.aria-disabled]="this.isLocked()">
    <mat-tab-group dynamicHeight="true" animationDuration="0ms" [disablePagination]="true" [disableRipple]="true">
      <mat-tab label="Style">
        <section class="propertyWindowPaneGroup">
          <div class="propertyWindowPaneHeader">Style</div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Opacity</span>
              </div>
              <span class="propertyWindowPaneValuePill propertyWindowPaneItemMono">{{this.activeImageShape.style.opacity|percent}}</span>
            </div>
            <mat-slider color="primary" [min]="this.opacitySliderMin" [max]="this.opacitySliderMax"
              [step]="this.opacitySliderStep" #ngSlider>
              <input matSliderThumb aria-label="Image opacity"
                (input)="this.onOpacityChange({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value})"
                #ngSliderThumb="matSliderThumb" [(value)]="this.activeImageShape.style.opacity" />
            </mat-slider>
          </div>
        </section>

        <section class="propertyWindowPaneGroup">
          <div class="propertyWindowPaneHeader">Miscellaneous</div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemCheckbox">
            <div class="propertyWindowPaneLabelStack">
              <span class="propertyWindowPaneItemLabel">Lock aspect ratio</span>
            </div>
            <mat-checkbox aria-label="Lock image aspect ratio" color="primary" [checked]="this.isSymbolAspectRatioLocked"
              [disableRipple]="true" (change)="this.onSymbolAspectRatioLockChange($event)"></mat-checkbox>
          </div>
          <div class="propertyWindowPaneMetadataGrid">
            <div class="propertyWindowPaneMetadataChip">
              <span class="propertyWindowPaneMetadataLabel">Dimensions</span>
              <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">W {{this.activeImageShape.width.toFixed(0) }} H {{this.activeImageShape.height.toFixed(0) }}</span>
            </div>
            <div class="propertyWindowPaneMetadataChip">
              <span class="propertyWindowPaneMetadataLabel">Z-index</span>
              <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">{{this.activeImageShape.zIndex}}</span>
            </div>
            <div class="propertyWindowPaneMetadataChip propertyWindowPaneMetadataChipWide">
              <span class="propertyWindowPaneMetadataLabel">Id</span>
              <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">{{this.activeImageShape.id}}</span>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Text"
        [disabled]="this.activeImageShape.annotations.length === 0 || this.activeImageShape.annotations[0].content === ''">
        <section class="propertyWindowPaneGroup">
          <div class="propertyWindowPaneHeader">Text</div>
          <div class="propertyWindowPaneItem">
            <div class="propertyWindowPaneLabelStack">
              <span class="propertyWindowPaneItemLabel">Color</span>
              <span class="propertyWindowPaneItemMeta propertyWindowPaneItemMono">{{this.annotationTextColor|uppercase}}</span>
            </div>
            <label class="propertyWindowPaneColorSwatch">
              <input type="color" aria-label="Image annotation text color" [(ngModel)]="this.annotationTextColor" />
            </label>
          </div>
          <div class="propertyWindowPaneItem">
            <div class="propertyWindowPaneLabelStack">
              <span class="propertyWindowPaneItemLabel">Background</span>
              <span class="propertyWindowPaneItemMeta propertyWindowPaneItemMono">{{this.annotationBackgroundColor|uppercase}}</span>
            </div>
            <label class="propertyWindowPaneColorSwatch">
              <input type="color" aria-label="Image annotation background color" [(ngModel)]="this.annotationBackgroundColor" />
            </label>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Styling</span>
              </div>
            </div>
            <mat-button-toggle-group multiple>
              <mat-button-toggle aria-label="Bold image annotation text" matTooltip="Bold" [checked]="this.isAnnotationTextBold"
                [disableRipple]="true" (click)="this.onAnnotationBoldButtonClick()">
                <mat-icon fontSet="material-icons-outlined">format_bold</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Italic image annotation text" matTooltip="Italic" [checked]="this.isAnnotationTextItalic"
                [disableRipple]="true" (click)="this.onAnnotationItalicButtonClick()">
                <mat-icon fontSet="material-icons-outlined">format_italic</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Decoration</span>
              </div>
            </div>
            <mat-button-toggle-group [(ngModel)]="this.annotationTextDecoration">
              <mat-button-toggle aria-label="Underline image annotation text" [value]="this.annotationDecorationUnderLine"
                [matTooltip]="this.annotationDecorationUnderLine" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_underlined</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Strikethrough image annotation text" [value]="this.annotationDecorationLineThrough"
                [matTooltip]="this.annotationDecorationLineThrough" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_strikethrough</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Overline image annotation text" [value]="this.annotationDecorationOverLine"
                [matTooltip]="this.annotationDecorationOverLine" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_overline</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Clear image annotation decoration" [value]="this.annotationDecorationNone"
                [matTooltip]="this.annotationDecorationNone" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">title</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Alignment</span>
              </div>
            </div>
            <mat-button-toggle-group [(ngModel)]="this.annotationTextAlignment">
              <mat-button-toggle aria-label="Align image annotation left" [value]="this.annotationAlignmentLeft"
                [matTooltip]="this.annotationAlignmentLeft" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_left</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Align image annotation center" [value]="this.annotationAlignmentCenter"
                [matTooltip]="this.annotationAlignmentCenter" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_center</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Align image annotation right" [value]="this.annotationAlignmentRight"
                [matTooltip]="this.annotationAlignmentRight" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_right</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle aria-label="Justify image annotation text" [value]="this.annotationAlignmentJustify"
                [matTooltip]="this.annotationAlignmentJustify" [disableRipple]="true">
                <mat-icon fontSet="material-icons-outlined">format_align_justify</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
            <div class="propertyWindowPaneItemHeading">
              <div class="propertyWindowPaneLabelStack">
                <span class="propertyWindowPaneItemLabel">Size</span>
              </div>
              <span class="propertyWindowPaneValuePill propertyWindowPaneItemMono">{{this.annotationFontSize}}</span>
            </div>
            <mat-slider color="primary" [min]="this.annotationFontSizeSliderMin"
              [max]="this.annotationFontSizeSliderMax" [step]="this.annotationFontSizeSliderStep" #ngSlider>
              <input matSliderThumb aria-label="Image annotation font size" [value]="this.annotationFontSize"
                (input)="this.onAnnotationFontSizeChange({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value})"
                #ngSliderThumb="matSliderThumb" />
            </mat-slider>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
