<div class="cs-background-gradient-primary-to-primary-dark">
  <div class="cs-section" id="hero">
    <h1 class="cs-section-title-larger">
      Draw <span id="cs-section-title-cursor">{{ animatedWord() }}</span> Diagrams
    </h1>

    <div class="hero">
      <img [src]="heroImageUrl()" alt="CloudSkew diagram editor preview" title="CloudSkew">
    </div>

    <a class="hero-cta-button cs-font-secondary-content" [href]="appUrl" rel="noopener noreferrer" target="_blank">Start for Free</a>

    <span class="hero-cta-context cs-font-secondary-content">
      Just login and start drawing! It's that simple. See some <a href="#samples">examples</a>.
    </span>
  </div>
</div>
