.hero {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 0.1px solid #dedddd;
  border-radius: 15px;
  background-color: var(--color-primary);
  box-shadow: 10px 10px 10px var(--color-secondary-lighter);
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-cta-button {
  display: inline-block;
  margin-bottom: 35px;
  padding: 15px 25px;
  border-radius: 35px;
  background-color: var(--color-accent);
  text-decoration: none;
  white-space: nowrap;
}

.hero-cta-button:hover,
.hero-cta-button:focus {
  background-color: var(--color-accent-light);
  text-decoration: none;
}

.hero-cta-context {
  display: block;
}

.hero-cta-context a {
  color: var(--color-secondary-light);
  text-decoration: none;
}

.hero-cta-context a:hover,
.hero-cta-context a:focus {
  text-decoration: underline;
}
