<div class="cs-background-gradient-primary-to-primary-dark">
    <div class="cs-section" id="hero">

        <!-- section title -->
        <span class="cs-section-title-larger">Draw <span id="cs-section-title-cursor"></span>
            Diagrams</span>

        <!-- hero image -->
        <div class="hero">
            <img [src]="this.heroImageUrl" alt="CloudSkew" title="CloudSkew">
        </div>

        <!-- cta button -->
        <a class="hero-cta-button cs-font-secondary-content" [href]="this.appUrl" target="_blank"
            rel="noopener noreferrer">Start for Free</a>

        <!-- additional cta context -->
        <span class="hero-cta-context cs-font-secondary-content">Just login and start drawing! It's that simple. See
            some <a routerLink="" fragment="samples">examples</a>.</span>

    </div>
</div>