.diagram-name-editor {
    font-family: "Open Sans",sans-serif;
    vertical-align: middle;
}
.diagram-name-editor .diagram-name-editor-validator-messages {
    font-size: 9px;
    font-style: italic;
    color: red;
    margin-left: 10px;
    margin-top: 2px;
}
.diagram-name-editor fa-icon {
    color: black;
}
.diagram-name-editor .btn {
    /* margin: auto 2px; */
}
.diagram-name-editor .btn:hover {
    background-color: whitesmoke;
}
.diagram-name-editor .btn:active {
    border: 2px solid whitesmoke; /* to give user the perception of some click "action" */
}
