<div class=diagram-name-editor>
  <form class="form-inline" [formGroup]="this.diagramNameEditorForm" (ngSubmit)="this.onSaveButtonClick()">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="diagram name" name="diagram-name-input"
        [readonly]="!this.isDiagramNameEditable" formControlName="nameInputControl"
        [size]="this.visibleWidthInChars">
        <div class="input-group-append">
          @if (!this.isDiagramNameEditable) {
            <button class="btn" type="button"
              matTooltip="edit diagram name" (click)="this.onEditButtonClick()">
              <fa-icon [icon]="this.faEditIcon"></fa-icon>
            </button>
          }
          @if (this.isDiagramNameEditable) {
            <button class="btn" type="button" matTooltip="cancel"
              (click)="this.onCancelButtonClick()">
              <fa-icon [icon]="this.faCancelIcon"></fa-icon>
            </button>
          }
          @if (this.isDiagramNameEditable) {
            <button
              [disabled]="this.diagramNameEditorForm.invalid || this.diagramNameEditorForm.pristine"
              class="btn" type="submit" matTooltip="save">
              <fa-icon [icon]="this.faSaveIcon"></fa-icon>
            </button>
          }
        </div>
      </div>
    </form>
    <div class="diagram-name-editor-validator-messages">
      @if (this.nameInputControl.errors?.required) {
        <span>{{this.requiredValidatorMessage}}</span>
      }
      @if (this.nameInputControl.errors?.minlength) {
        <span>{{this.minlengthValidatorMessage}}</span>
      }
      @if (this.nameInputControl.errors?.maxlength) {
        <span>{{this.maxLengthValidatorMessage}}</span>
      }
      @if (this.nameInputControl.errors?.pattern) {
        <span>{{this.patternValidatorMessage}}</span>
      }
    </div>
  </div>
