<span mat-dialog-title class="windowHeaderText">Edit Diagram Template Name</span>

<mat-dialog-content>
  <div class="windowContent">
    <form class="diagram-template-name-editor" [formGroup]="this.templateNameEditorForm"
      (ngSubmit)="this.onSaveButtonClick(this.templateNameInputControl.value)">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="diagram template name"
          name="diagram-template-name-input" formControlName="templateNameInputControl"
          [size]="this.visibleWidthInChars">
          <div class="input-group-append">
            <button
              [disabled]="this.templateNameEditorForm.invalid || this.templateNameEditorForm.pristine"
              class="btn" type="submit" matTooltip="save">
              <fa-icon [icon]="this.faSaveIcon"></fa-icon>
            </button>
          </div>
        </div>
      </form>
      <div class="diagram-template-name-editor-validator-messages">
        @if (this.templateNameInputControl.errors?.required) {
          <span>{{this.requiredValidatorMessage}}</span>
        }
        @if (this.templateNameInputControl.errors?.minlength) {
          <span>{{this.minlengthValidatorMessage}}</span>
        }
        @if (this.templateNameInputControl.errors?.maxlength) {
          <span>{{this.maxLengthValidatorMessage}}</span>
        }
        @if (this.templateNameInputControl.errors?.pattern) {
          <span>{{this.patternValidatorMessage}}</span>
        }
        @if (this.templateNameInputControl.errors?.uniqueTemplateName) {
          <span
          >{{this.uniqueNameValidatorMessage}}</span>
        }
      </div>
    </div>
  </mat-dialog-content>