.features-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.features-card {
  flex-basis: 27%;
  margin: 20px;
  border-radius: 5px;
  background-color: var(--color-primary);
}

.features-card-artwork {
  display: block;
  margin: 30px 0;
  padding: 0 30px;
  border-left: 5px solid var(--color-accent);
  text-align: left;
}

.features-card-title {
  margin: 0 30px;
  text-align: left;
}

.features-card-description {
  margin: 15px 30px 30px;
  line-height: 1.5;
  text-align: left;
}

@media screen and (max-width: 980px) {
  .features-card {
    flex-basis: 100%;
  }
}
