<div class="sidebarWrapper" [class.preferenceGridDialogMode]="this.dialogMode">
    <div class="preferenceChecklistWrapper" [class.preferenceGridDialogWrapper]="this.dialogMode">
        <section class="preferenceChecklistGroup" *ngFor="let preferenceGroup of this.preferenceGroups">
            <h3 class="preferenceChecklistGroupTitle">{{ preferenceGroup.title }}</h3>
            <mat-checkbox *ngFor="let preferenceItem of preferenceGroup.items" class="preferenceChecklistItem"
                [checked]="this.isChecked(preferenceItem.id)"
                (change)="this.onPreferenceItemCheckboxChange(preferenceItem, $event)">
                {{ preferenceItem.displayName }}
            </mat-checkbox>
        </section>
    </div>
</div>
