.samples-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.samples-gallery-item {
  flex-basis: 30%;
  margin: 20px;
  padding: 30px;
  border: 1px solid var(--color-secondary-lightest);
  border-radius: 5px;
  background-color: var(--color-primary-dark);
}

.samples-gallery-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.samples-gallery-item-header-title,
.samples-gallery-item-header-sharelink,
.samples-gallery-item-description {
  text-align: left;
}

.samples-gallery-item-header-sharelink {
  color: var(--color-secondary-light);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.samples-gallery-item-header-sharelink:hover,
.samples-gallery-item-header-sharelink:focus {
  color: var(--color-secondary-lighter);
  text-decoration: underline;
}

.samples-gallery-item-description {
  display: block;
  margin-bottom: 25px;
}

.samples-gallery-item-image img {
  width: 100%;
  height: auto;
  border: 1px solid #dedddd;
  box-shadow: 5px 5px 5px var(--color-secondary-lightest);
}

.samples-gallery-item-image img:hover {
  box-shadow: 10px 10px 10px var(--color-secondary-lightest);
}

@media screen and (max-width: 980px) {
  .samples-gallery-item-header-sharelink {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .samples-gallery-item {
    flex-basis: 80%;
  }
}
