<div class="cs-background-primary">
  <section class="cs-section" id="samples">
    <h2 class="cs-section-title">Check out some samples</h2>

    <div class="samples-gallery">
      @for (galleryItem of galleryItems; track galleryItem.shareUrl) {
        <div class="samples-gallery-item">
          <div class="samples-gallery-item-header">
            <span class="samples-gallery-item-header-title cs-font-quote">{{ galleryItem.title }}</span>
            <a class="samples-gallery-item-header-sharelink" [href]="galleryItem.shareUrl" rel="noopener noreferrer" target="_blank">See Live</a>
          </div>

          <span class="samples-gallery-item-description cs-font-secondary-content">{{ galleryItem.description }}</span>

          <a class="samples-gallery-item-image" [href]="galleryItem.imgUrl" rel="noopener noreferrer" target="_blank">
            <img [src]="galleryItem.thumbnailUrl" [alt]="galleryItem.description" [title]="galleryItem.description" loading="lazy">
          </a>
        </div>
      }
    </div>
  </section>
</div>
