.header {
    /* flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-branding {
    /* flex container */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-branding-logo img {
    /* layout */
    margin: auto 10px auto 0; /* right margin at 10px */
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.header-nav {
    /* flex container */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-hamburger {
    /* layout */
    display: none; /* initially hidden in desktop mode */
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.header-nav-link { /* use this class with <a> tags only */
    /* layout */
    margin: auto 0 auto 35px; /* left margin at 35px */

    /* text styling */
    text-decoration: none; /* removes text decorations related to <a> hyperlinks */
}

.header-nav-link:hover, .header-nav-link:focus {
    /* text styling */
    text-decoration: underline;
}

.header-cta-button { /* use this class with <a> tags only */
    background-color: var(--color-accent);

    /* layout */
    padding: 15px 25px;
    border-radius: 35px;

    /* text styling */
    white-space: nowrap; /* to prevent button text from wrapping at lesser screen resolutions */
}

.header-cta-button:hover, .header-cta-button:focus {
    background-color: var(--color-accent-light);

    /* text styling */
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .header-nav-link {
        margin: auto 0 auto 25px; /* left margin at 25px */
    }
}

@media screen and (max-width: 980px) {
    .header-nav {
        display: none;
    }
    
    .header-hamburger {
        display: unset;
    }
}