<div class="propertyWindowSplitterWrapper">

  <div class="propertyWindowSplitterHeadlineWrapper">
    <div class="propertyWindowSplitterHeadline">Group</div>
    <div>
      <button type="button" class="btn" aria-label="Group summary" disabled>
        <fa-icon [icon]="this.faGroupIcon"></fa-icon>
        <span class="propertyWindowStateText">Group</span>
      </button>
    </div>
  </div>

  <section class="propertyWindowPaneGroup">
    <div class="propertyWindowPaneHeader">Alignment</div>
    <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
      <div class="propertyWindowPaneItemHeading">
        <div class="propertyWindowPaneLabelStack">
          <span class="propertyWindowPaneItemLabel">Vertical</span>
        </div>
      </div>
      <mat-button-toggle-group (change)="onAlignmentChange($event)">
        <mat-button-toggle aria-label="Align group vertically to top" matTooltip="Align Vertical Top" [disableRipple]="true" [value]="this.alignVerticalTop">
          <mat-icon fontSet="material-icons-outlined">align_vertical_top</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Align group vertically to center" matTooltip="Align Vertical Center" [disableRipple]="true"
          [value]="this.alignVerticalCenter">
          <mat-icon fontSet="material-icons-outlined">align_vertical_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Align group vertically to bottom" matTooltip="Align Vertical Bottom" [disableRipple]="true"
          [value]="this.alignVerticalBottom">
          <mat-icon fontSet="material-icons-outlined">align_vertical_bottom</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
      <div class="propertyWindowPaneItemHeading">
        <div class="propertyWindowPaneLabelStack">
          <span class="propertyWindowPaneItemLabel">Horizontal</span>
        </div>
      </div>
      <mat-button-toggle-group (change)="onAlignmentChange($event)">
        <mat-button-toggle aria-label="Align group horizontally to left" matTooltip="Align Horizontal Left" [disableRipple]="true"
          [value]="this.alignHorizontalLeft">
          <mat-icon fontSet="material-icons-outlined">align_horizontal_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Align group horizontally to center" matTooltip="Align Horizontal Center" [disableRipple]="true"
          [value]="this.alignHorizontalCenter">
          <mat-icon fontSet="material-icons-outlined">align_horizontal_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Align group horizontally to right" matTooltip="Align Horizontal Right" [disableRipple]="true"
          [value]="this.alignHorizontalRight">
          <mat-icon fontSet="material-icons-outlined">align_horizontal_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>

  <section class="propertyWindowPaneGroup">
    <div class="propertyWindowPaneHeader">Distribution</div>
    <div class="propertyWindowPaneItem propertyWindowPaneItemStack">
      <div class="propertyWindowPaneItemHeading">
        <div class="propertyWindowPaneLabelStack">
          <span class="propertyWindowPaneItemLabel">Distribution</span>
        </div>
      </div>
      <mat-button-toggle-group (change)="onDistributionChange($event)">
        <mat-button-toggle aria-label="Distribute group vertically" matTooltip="Distribute Vertically" [disableRipple]="true"
          [value]="this.distributeVertically">
          <mat-icon fontSet="material-icons-outlined">vertical_distribute</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle aria-label="Distribute group horizontally" matTooltip="Distribute Horizontally" [disableRipple]="true"
          [value]="this.distributeHorizontally">
          <mat-icon fontSet="material-icons-outlined">horizontal_distribute</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>

  <section class="propertyWindowPaneGroup">
    <div class="propertyWindowPaneHeader">Miscellaneous</div>
    <div class="propertyWindowPaneMetadataGrid">
      <div class="propertyWindowPaneMetadataChip">
        <span class="propertyWindowPaneMetadataLabel">Dimensions</span>
        <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">W {{this.activeGroupShape.width?.toFixed(0) }} H {{this.activeGroupShape.height?.toFixed(0) }}</span>
      </div>
      <div class="propertyWindowPaneMetadataChip">
        <span class="propertyWindowPaneMetadataLabel">Z-index</span>
        <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">{{this.activeGroupShape.zIndex}}</span>
      </div>
      @if (this.activeGroupShape.children) {
        <div class="propertyWindowPaneMetadataChip">
          <span class="propertyWindowPaneMetadataLabel">Element count</span>
          <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">{{this.activeGroupShape.children?.length}}</span>
        </div>
      }
      <div class="propertyWindowPaneMetadataChip propertyWindowPaneMetadataChipWide">
        <span class="propertyWindowPaneMetadataLabel">Id</span>
        <span class="propertyWindowPaneMetadataValue propertyWindowPaneItemMono">{{this.activeGroupShape.id}}</span>
      </div>
    </div>
  </section>

</div>
