<div class="cs-background-grid-primary-dark">

    <div class="cs-section" id="about">

        <!-- title -->
        <span class="cs-section-title">Meet the creator</span>

        <div class="about">

            <!-- quote -->
            <div class="about-item cs-font-quote">{{this.quote}}</div>

            <!-- developer's pic -->
            <img class="about-item about-pic" src="../../../assets/profile-pic.png" [alt]="this.name"
                [title]="this.name" loading="lazy">

            <!-- developer's profile info -->
            <div class="about-item about-profile">

                <!-- name & title -->
                <div class="about-profile-item about-profile-name cs-font-primary-content">{{this.name}}</div>
                <div class="about-profile-item about-profile-title cs-font-secondary-content">{{this.title}}</div>

                <!-- social links -->
                <div class="about-profile-item about-profile-social-bar">

                    <!-- linkedin -->
                    <a class="about-profile-social-bar-link" [href]="this.linkedinUrl" target="_blank"
                        rel="noopener noreferrer">
                        <img src="../../../assets/linkedin-icon.svg" title="linkedin" alt="linkedin" width="24px"
                            height="24px" loading="lazy">
                    </a>
                    <!-- twitter -->
                    <a class="about-profile-social-bar-link" [href]="this.twitterUrl" target="_blank"
                        rel="noopener noreferrer">
                        <img src="../../../assets/twitter-icon.svg" title="twitter" alt="twitter" width="24px"
                            height="24px" loading="lazy">
                    </a>

                </div>
            </div>

        </div>

    </div>

</div>