<span mat-dialog-title class="windowHeaderText">Import from JSON file</span>

<mat-dialog-content>
    <div class="windowContent">
        <span>Please pick a JSON file.</span>
    </div>
    <div class="windowContent">
        <ejs-uploader #diagramImporter [autoUpload]="this.uploaderAutoUpload" [buttons]="this.uploaderButtons"
            [enablePersistence]="this.uploaderEnablePersistence" [multiple]="this.uploaderAllowMultipleFileUpload"
            [allowedExtensions]="this.uploaderAllowedExtensions" [asyncSettings]="this.uploaderAsyncSettings"
            [minFileSize]="this.uploaderMinFileSizeBytes" [maxFileSize]="this.uploaderMaxFileSizeBytes"
            (success)="this.onUploaderSuccess($event)" (uploading)="this.onUploaderUploading($event)">
        </ejs-uploader>
    </div>
</mat-dialog-content>