<app-header></app-header>

<mat-sidenav-container>

    <!-- sidebar (visible only on mobile) -->
    <mat-sidenav position="end" #sidenav class="cs-section-smaller cs-background-primary-dark">
        <app-mobile-menu></app-mobile-menu>
    </mat-sidenav>

    <!-- main content -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-features></app-features>
        <app-samples></app-samples>
        <app-testimonials></app-testimonials>
        <app-pricing></app-pricing>
        <!-- temporarily commented out -->
        <!-- <app-about></app-about> -->
        <app-footer></app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>