<!-- notification banner section -->
<div class="landing-page-notification-banner">
    <p>Please try out this early pre-release version of CloudSkew. Your feedback is extremely valuable to us!</p>
</div>

<!-- hero section -->
<div class="landing-page-hero-container">
    <div class="landing-page-hero">
        <img class="landing-page-hero-img" [src]="this.landingPageHeroUrl">
        <a [href]="this.appUrl">
            <div class="btn btn-success btn-lg landing-page-hero-cta">Create free cloud diagrams</div>
        </a>
    </div>
</div>