html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: Gotham;
  src:
    url('/assets/fonts/gotham/gotham-black.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-bold.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-bold.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-bolditalic.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-book.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-bookitalic.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-bookitalic.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-light.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-light.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-lightitalic.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-medium.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-mediumitalic.ttf') format('truetype'),
    url('/assets/fonts/gotham/gotham-thin.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-thinitalic.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-ultraitalic.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-xlight.otf') format('opentype'),
    url('/assets/fonts/gotham/gotham-xlightitalic.otf') format('opentype');
}

:root {
  --color-primary: white;
  --color-primary-dark: #f9f9f9;
  --color-secondary: black;
  --color-secondary-light: #002927;
  --color-secondary-lighter: #5a7372;
  --color-secondary-lightest: #dedddd;
  --color-accent: #00bbb0;
  --color-accent-light: #00c8be;
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-gotham: 'Gotham', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

.cs-background-primary {
  background-color: var(--color-primary);
}

.cs-background-primary-dark {
  background-color: var(--color-primary-dark);
}

.cs-background-gradient-primary-to-primary-dark {
  background-image: linear-gradient(to bottom, white, var(--color-primary-dark));
}

.cs-background-grid-primary-dark {
  background-color: var(--color-primary-dark);
  background-image:
    repeating-linear-gradient(to right, #dedddd 0 0.01px, transparent 1px 25px),
    repeating-linear-gradient(to bottom, #dedddd 0 0.01px, transparent 1px 25px);
}

.cs-section-smaller {
  width: 80vw;
  margin: auto;
  padding: 50px 5px;
  color: var(--color-secondary);
  font-family: var(--font-family-open-sans);
  line-height: 1;
  text-align: center;
}

.cs-section {
  width: 80vw;
  margin: auto;
  padding: 100px 5px;
  color: var(--color-secondary);
  font-family: var(--font-family-open-sans);
  line-height: 1;
  text-align: center;
}

.cs-section-title {
  display: block;
  margin-bottom: 35px;
  color: var(--color-secondary-light);
  font-family: var(--font-family-gotham);
  font-size: 40px;
  font-weight: 400;
}

.cs-section-title-larger {
  display: block;
  margin-bottom: 35px;
  color: var(--color-secondary-light);
  font-family: var(--font-family-gotham);
  font-size: 45px;
  font-weight: 600;
}

#cs-section-title-cursor {
  color: var(--color-secondary-lighter);
  text-decoration: underline;
}

.cs-font-branding {
  color: var(--color-secondary-light);
  font-family: var(--font-family-open-sans);
  font-size: 30px;
  font-weight: 700;
}

.cs-font-quote {
  color: var(--color-secondary-lighter);
  font-family: var(--font-family-gotham);
  font-size: 20px;
  font-weight: 200;
  line-height: 1.2;
}

.cs-font-primary-content {
  color: var(--color-secondary-light);
  font-family: var(--font-family-open-sans);
  font-size: 20px;
  font-weight: 600;
}

.cs-font-secondary-content {
  color: var(--color-secondary-light);
  font-family: var(--font-family-open-sans);
  font-size: 18px;
  font-weight: 300;
}

.cs-font-contextual-info {
  color: var(--color-secondary-light);
  font-family: var(--font-family-open-sans);
  font-size: 12px;
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (min-width: 1921px) {
  .cs-section-smaller,
  .cs-section {
    width: calc(0.8 * 1920px);
  }
}

@media screen and (max-width: 1200px) {
  .cs-section-smaller,
  .cs-section {
    width: 90vw;
  }
}

@media screen and (max-width: 980px) {
  .cs-section-smaller,
  .cs-section {
    width: 100vw;
  }
}
