<div class="sidebarWrapper createDiagramPane">

    <div class="createDiagramPaneActions">
        <button mat-stroked-button disableRipple=true matTooltip="create new blank diagram"
            (click)="this.onCreateBlankDiagramButtonClick()">
            Create New Blank Diagram
        </button>
        <button mat-stroked-button disableRipple=true matTooltip="import from local (json) file"
            (click)="this.onImportFromJsonFileButtonClick()">
            Import From JSON File
        </button>
    </div>

</div>
