
.activitybarControl {
    /* container for vertical flexbox items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    text-align: center;

    /* needed when browser window is not fully maximized */
    min-height: 100vh;
}


.activitybarHeaderSection {
    /* vertical flexbox item */
    margin-top: 15px;
    margin-bottom: 50px;
}
.activitybarHeaderSection .branding-logo {
    width: 30px;
    height: 30px;
    border-radius: 15%;
}


.activitybarMainSection {
    /* vertical flexbox item */
    flex-grow: 1; /* needed to push the footer section downward */

    /* container for vertical flexbox items */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.activitybarMainSection .mat-mini-fab {
    margin: 15px auto;
}


.activitybarFooterSection {
    /* vertical flexbox item */
    margin-bottom: 15px;

    /* container for vertical flexbox items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activitybarFooterSection .mat-mini-fab {
    margin: 10px auto;
}


.activitybarControl .mat-mini-fab {
    /* vertical flexbox item */
    color: gray;
    background-color: black;

    /* container for vertical flexbox items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activitybarControl .mat-mini-fab:focus {
    color: white;
}
.activitybarControl .mat-mini-fab:hover {
    color: white;
}
.activitybarControl .btn-active {
    color: white;
}
.activitybarControl mat-icon {
    /* vertical flexbox item */
    height: 100%;
    width: 100%;
    font-size: 36px;
}