<div #activitybarControl class="activitybarControl">

    <!-- header section -->
    <div class="activitybarHeaderSection">
        <!-- branding logo -->
        <img class="branding-logo" [src]="this.logoUrl" matTooltip="CloudSkew" matTooltipPosition="right">
    </div>

    <!-- main section -->
    <div class="activitybarMainSection">
        <button mat-mini-fab [class.btn-active]="this.activeSidebarType === 'palette'" [disableRipple]="true"
            (click)="this.sidebarService.request('palette')" matTooltip="icons, symbols & shapes"
            matTooltipPosition="right">
            <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
        </button>
        <button mat-mini-fab [class.btn-active]="this.activeSidebarType === 'preference'" [disableRipple]="true"
            (click)="this.sidebarService.request('preference')" matTooltip="add/remove symbols"
            matTooltipPosition="right">
            <mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon>
        </button>
        <button mat-mini-fab [class.btn-active]="this.activeSidebarType === 'diagram'" [disableRipple]="true"
            (click)="this.sidebarService.request('diagram')" matTooltip="my diagrams" matTooltipPosition="right">
            <mat-icon fontSet="material-icons-outlined">folder</mat-icon>
        </button>
        <button mat-mini-fab [class.btn-active]="this.activeSidebarType === 'create'" [disableRipple]="true"
            (click)="this.sidebarService.request('create')" matTooltip="create new diagram"
            matTooltipPosition="right">
            <mat-icon fontSet="material-icons-outlined">add_circle_outline</mat-icon>
        </button>
        <!-- @todo: we'll enable the extensions grid only after the 1.0 release -->
        <!-- <button mat-mini-fab (click)="this.sidebarService.request('extension')" matTooltip="extensions" matTooltipPosition="right"> -->
        <!-- <mat-icon [icon]="this.extensionsIcon"></mat-icon> -->
        <!-- </button> -->
    </div>

    <!-- footer section -->
    <div class="activitybarFooterSection">
        <button mat-mini-fab matTooltip="help & support" matTooltipPosition="right" [disableRipple]="true"
            [matMenuTriggerFor]="helpAndSupportMenu">
            <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
        </button>
        <mat-menu #helpAndSupportMenu="matMenu">
            <a mat-menu-item [disableRipple]="true" [href]="this.keyboardShortcutsUrl" target="_blank" rel="noopener"
                rel="noreferrer">
                <mat-icon fontSet="material-icons-outlined">keyboard_alt</mat-icon>
                <span>Keyboard shortcuts</span>
            </a>
            <a mat-menu-item [disableRipple]="true" [href]="this.faqsUrl" target="_blank" rel="noopener"
                rel="noreferrer">
                <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
                <span>FAQs</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-menu-item [disableRipple]="true" [href]="this.releaseNotesUrl" target="_blank" rel="noopener"
                rel="noreferrer">
                <mat-icon fontSet="material-icons-outlined">description</mat-icon>
                <span>Release Notes</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-menu-item [disableRipple]="true" [href]="this.githubIssuesUrl" target="_blank" rel="noopener"
                rel="noreferrer">
                <mat-icon fontSet="material-icons-outlined">feedback</mat-icon>
                <span>Report an issue on github</span>
            </a>
            <a mat-menu-item [disableRipple]="true" [href]="this.cloudskewSupportEmail" target="_blank" rel="noopener"
                rel="noreferrer">
                <mat-icon fontSet="material-icons-outlined">email</mat-icon>
                <span>Email support&#64;cloudskew.com</span>
            </a>
        </mat-menu>
    </div>

</div>
