.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.footer-column-item {
  margin-bottom: 20px;
}

.footer-column-item-link {
  text-decoration: none;
}

.footer-column-item-link:hover,
.footer-column-item-link:focus {
  text-decoration: underline;
}

.footer-column-branding {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-column-branding-logo {
  width: 30px;
  height: 30px;
  margin: auto 10px auto 0;
  border-radius: 5px;
}

.footer-column-social-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.footer-column-social-link {
  margin-right: 20px;
}
