<div class="cs-background-primary">
  <footer class="cs-section-smaller" id="footer">
    <div class="footer">
      <div class="footer-column footer-column-primary">
        <div class="footer-column-item footer-column-branding">
          <img class="footer-column-branding-logo" [src]="externalUrls.brandingLogoUrl" alt="CloudSkew" height="30" loading="lazy" title="CloudSkew" width="30">
          <span class="cs-font-branding">CloudSkew</span>
        </div>

        <span class="footer-column-item cs-font-secondary-content">Skewed Ventures Private Limited</span>
        <span class="footer-column-item cs-font-secondary-content">Copyright: 2019 - Present</span>

        <div class="footer-column-item footer-column-social-bar">
          <a class="footer-column-social-link" href="mailto:support@cloudskew.com" rel="noopener noreferrer" target="_blank">
            <img src="/assets/mail-icon.svg" [alt]="emailText" [title]="emailText" height="24" loading="lazy" width="24">
          </a>
          <a class="footer-column-social-link" href="https://twitter.com/MithunShanbhag" rel="noopener noreferrer" target="_blank">
            <img src="/assets/twitter-icon.svg" [alt]="twitterText" [title]="twitterText" height="24" loading="lazy" width="24">
          </a>
          <a class="footer-column-social-link" href="https://www.youtube.com/channel/UCc4Y5F4UcCl-KoNskDqdW6w" rel="noopener noreferrer" target="_blank">
            <img src="/assets/youtube-icon.svg" [alt]="youtubeText" [title]="youtubeText" height="24" loading="lazy" width="24">
          </a>
          <a class="footer-column-social-link" href="https://github.com/cloudskew/cloudskew/issues/new/choose" rel="noopener noreferrer" target="_blank">
            <img src="/assets/github-icon.svg" [alt]="githubText" [title]="githubText" height="24" loading="lazy" width="24">
          </a>
        </div>
      </div>

      <div class="footer-column">
        <span class="footer-column-item cs-font-primary-content">Product</span>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" href="#features">Features</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" href="#testimonials">Testimonials</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" href="#samples">Samples</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" href="#pricing">Pricing</a>
      </div>

      <div class="footer-column">
        <span class="footer-column-item cs-font-primary-content">Resources</span>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" [href]="externalUrls.statusUrl" rel="noopener noreferrer" target="_blank">Status</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" [href]="externalUrls.blogUrl" rel="noopener noreferrer" target="_blank">Blog</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" [href]="externalUrls.docsUrl" rel="noopener noreferrer" target="_blank">Docs</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" [href]="externalUrls.faqsUrl" rel="noopener noreferrer" target="_blank">FAQs</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" [href]="externalUrls.privacyPolicyUrl" rel="noopener noreferrer" target="_blank">Privacy Policy</a>
        <a class="footer-column-item footer-column-item-link cs-font-secondary-content" [href]="externalUrls.termsOfServiceUrl" rel="noopener noreferrer" target="_blank">Terms of Service</a>
      </div>
    </div>
  </footer>
</div>
