<div class="mobile-menu">
  <a class="mobile-menu-link cs-font-secondary-content" href="#samples" (click)="onNavigate()">Samples</a>
  <a class="mobile-menu-link cs-font-secondary-content" href="#testimonials" (click)="onNavigate()">Testimonials</a>
  <a class="mobile-menu-link cs-font-secondary-content" href="#pricing" (click)="onNavigate()">Pricing</a>
  <a class="mobile-menu-link cs-font-secondary-content" [href]="externalUrls.docsUrl" rel="noopener noreferrer" target="_blank" (click)="onNavigate()">Docs</a>
  <a class="mobile-menu-link cs-font-secondary-content" [href]="externalUrls.blogUrl" rel="noopener noreferrer" target="_blank" (click)="onNavigate()">Blog</a>
  <a class="mobile-menu-link cs-font-secondary-content" [href]="externalUrls.statusUrl" rel="noopener noreferrer" target="_blank" (click)="onNavigate()">Status</a>
  <a class="mobile-menu-link cs-font-secondary-content mobile-menu-cta-button" [href]="externalUrls.appUrl" rel="noopener noreferrer" target="_blank" (click)="onNavigate()">Go To App</a>
</div>
