.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.mobile-menu-link {
  margin: 15px auto;
  text-decoration: none;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  text-decoration: underline;
}

.mobile-menu-cta-button {
  padding: 15px 25px;
  border-radius: 35px;
  background-color: var(--color-accent);
  white-space: nowrap;
}

.mobile-menu-cta-button:hover,
.mobile-menu-cta-button:focus {
  background-color: var(--color-accent-light);
  text-decoration: none;
}
