<div class="cs-background-grid-primary-dark">
  <section class="cs-section" id="pricing">
    <h2 class="cs-section-title">CloudSkew plans</h2>

    <div class="pricing-tables">
      @for (plan of pricingPlans; track plan.title) {
        <div class="pricing-table-wrapper">
          <div class="pricing-table">
            <div class="pricing-table-header">
              <div class="pricing-table-header-title">{{ plan.title }}</div>
              <div class="pricing-table-header-price">{{ plan.price }}</div>
              <div class="cs-font-contextual-info">{{ plan.subtitle }}</div>
            </div>

            <div class="pricing-table-features">
              @for (feature of plan.features; track feature.featureText) {
                <div class="pricing-table-features-row">
                  <img
                    class="pricing-table-features-row-checkbox"
                    [src]="feature.checkboxIcon"
                    [alt]="feature.featureText"
                    height="16"
                    loading="lazy"
                    width="16"
                  >
                  <span class="pricing-table-features-row-featureText cs-font-secondary-content">{{ feature.featureText }}</span>

                  @if (feature.featureContext && feature.featureContextIcon) {
                    <img
                      [src]="feature.featureContextIcon"
                      [alt]="feature.featureContext"
                      [title]="feature.featureContext"
                      height="16"
                      loading="lazy"
                      width="16"
                    >
                  }
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>

    <a class="pricing-cta-button cs-font-secondary-content" [href]="externalUrls.appUrl" rel="noopener noreferrer" target="_blank">Start for Free</a>

    <span class="pricing-more-details cs-font-contextual-info">
      For more details, please see our
      <a [href]="externalUrls.faqsUrl" rel="noopener noreferrer" target="_blank">FAQs</a>,
      <a [href]="externalUrls.termsOfServiceUrl" rel="noopener noreferrer" target="_blank">Terms of Service</a>,
      and
      <a [href]="externalUrls.privacyPolicyUrl" rel="noopener noreferrer" target="_blank">Privacy Policy</a>.
    </span>
  </section>
</div>
