<div #sidebarControl class="sidebarControl">

    <!-- the symbol palette (palette grid) -->
    <app-palette-grid [hidden]="this.sidebarType !== 'palette'" class="sidebar-item"></app-palette-grid>

    <!-- create new diagram pane -->
    <app-create-diagram-pane [hidden]="this.sidebarType !== 'create'" class="sidebar-item">
    </app-create-diagram-pane>

    <!-- the preferences/settings grid -->
    <app-preference-grid [hidden]="this.sidebarType !== 'preference'" class="sidebar-item"></app-preference-grid>

    <!-- the extension grid -->
    <app-extension-grid [hidden]="this.sidebarType !== 'extension'" class="sidebar-item"></app-extension-grid>

</div>
