.diagram-editor {
    --diagram-editor-sidebar-width: 272px;
    --diagram-editor-propertiesbar-width: 280px;
    --diagram-editor-chrome-height: 56px;

    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* dimensions */
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.diagram-editor-content {
    /* horizontal flexbox item */
    flex-basis: 100vw;

    /* dimensions */
    width: 100vw;
    height: 100vh;

    /* container for vertical flexbox items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.diagram-editor-navbar {
    /* vertical flexbox item */
    flex-basis: 56px;

    /* dimensions */
    width: 100vw;
    height: 56px;
    min-height: 56px;
    max-height: 56px;

    /* margin, padding etc */
    padding: 0;

    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.diagram-editor-maincontent {
    /* vertical flexbox item */
    /* flex-grow: 1; */
    flex-basis: calc(100vh - var(--diagram-editor-chrome-height));

    /* dimensions */
    width: 100vw;
    height: calc(100vh - var(--diagram-editor-chrome-height));

    /* container for horizontal flexbox items */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.diagram-editor-sidebar {
    /* horizontal flexbox item */
    flex-basis: var(--diagram-editor-sidebar-width);

    /* dimensions */
    /* overflow: auto is already used for the grid css, hence not needed here. */
    /* also using overflow: auto again here was causing some maxstack errors (in console). So removed it. */
    width: var(--diagram-editor-sidebar-width);
    min-width: var(--diagram-editor-sidebar-width);
    max-width: var(--diagram-editor-sidebar-width);
    height: calc(100vh - var(--diagram-editor-chrome-height));

    /* margin, padding etc */
    padding: 0;
}

.diagram-editor-diagram {
    /* horizontal flexbox item */
    /* flex-grow: 1; */
    flex-basis: calc(100vw - (var(--diagram-editor-sidebar-width) + var(--diagram-editor-propertiesbar-width)));

    /* dimensions */
    width: calc(100vw - (var(--diagram-editor-sidebar-width) + var(--diagram-editor-propertiesbar-width)));
    height: calc(100vh - var(--diagram-editor-chrome-height));
    overflow: auto; /* needed for scrollbar */
}

.diagram-editor-propertiesbar {
    /* horizontal flexbox item */
    flex-basis: var(--diagram-editor-propertiesbar-width);

    /* dimensions */
    width: var(--diagram-editor-propertiesbar-width);
    min-width: var(--diagram-editor-propertiesbar-width);
    max-width: var(--diagram-editor-propertiesbar-width);
    height: calc(100vh - var(--diagram-editor-chrome-height));
    overflow: auto; /* needed for scrollbar */

    /* margin, padding etc */
    padding: 0;
}
