<span mat-dialog-title class="windowHeaderText">Upload Image</span>

<mat-dialog-content>
    <div class="windowContent">
        <span>Please pick a JPG or PNG file (size must be &lt; 512 KB).</span>
    </div>
    <div class="windowContent">
        <ejs-uploader #imageUploader [autoUpload]="this.uploaderAutoUpload" [buttons]="this.uploaderButtons"
            [enablePersistence]="this.uploaderEnablePersistence" [multiple]="this.uploaderAllowMultipleFileUpload"
            [showFileList]="this.uploaderShowFileList" [allowedExtensions]="this.uploaderAllowedExtensions"
            [minFileSize]="this.uploaderMinFileSizeBytes" [maxFileSize]="this.uploaderMaxFileSizeBytes"
            (selected)="this.onUploaderSelected($event)">
        </ejs-uploader>
    </div>
</mat-dialog-content>
