.templateSelectorGridSearchControl {
    height: 40px;
    max-height: 40px;
}
.templateSelectorGridControlWrapper {
    height: calc(100vh - 195px);
    max-height: calc(100vh - 195px);
    overflow: auto; /* needed for scrollbar */
}
.templateSelectorGridButtonWrapper {
    /* container for vertical flexbox items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* dimensions */
    height: 80px; 
    max-height: 80px;

    /* padding, margin etc */
    padding: 2px 0px;
}
.templateSelectorGridButtonWrapper button {
    /* vertical flexbox items */
    flex-basis: 100%;
    width: 100%;

    /* text styling */
    font-family: "Roboto Mono",sans-serif;
    font-size: 14px;
}