<span mat-dialog-title class="windowHeaderText">Resource Documentation</span>

<mat-dialog-content>
  @if (this.symbol) {
    <span class="resourceDocumentationSymbol">{{this.symbol.displayName | uppercase}}</span>
  }
  @if (this.symbol) {
    <ul class="resourceDocumentationLinks">
      @for (item of this.symbolDocsData; track item) {
        <li>
          <a href="{{item.documentValue}}" target="_blank">{{item.documentKey}}
          </a>
        </li>
      }
    </ul>
  }
</mat-dialog-content>