@if ((this.visualPropertiesEditorService.requestFeed$|async); as activeSymbol) {
  @if (!this.selectedSymbolIsDiagramComponent(activeSymbol)) {
    @if (!this.selectedSymbolIsMultiSelection(activeSymbol)) {
      @if (!this.selectedSymbolIsConnectorModel(activeSymbol)) {
        @if (!this.selectedSymbolIsText(activeSymbol)) {
          @if (!this.selectedSymbolIsImage(activeSymbol)) {
            @if (!this.selectedSymbolIsNative(activeSymbol)) {
              @if (this.selectedSymbolIsGroup(activeSymbol)) {
                <app-group-properties-editor [activeGroupShape]="activeSymbol"></app-group-properties-editor>
              } @else {
                <app-basic-shape-properties-editor [activeBasicShape]="activeSymbol"></app-basic-shape-properties-editor>
              }
            } @else {
              <app-native-properties-editor [activeNativeSymbol]="activeSymbol"></app-native-properties-editor>
            }
          } @else {
            <app-image-properties-editor [activeImageShape]="activeSymbol"></app-image-properties-editor>
          }
        } @else {
          <app-text-properties-editor [activeTextShape]="activeSymbol"></app-text-properties-editor>
        }
      } @else {
        <app-connector-properties-editor [activeConnector]="activeSymbol"></app-connector-properties-editor>
      }
    } @else {
      <app-multi-selection-properties-editor [activeMultiSelection]="activeSymbol">
      </app-multi-selection-properties-editor>
    }
  } @else {
    <app-diagram-properties-editor [activeDiagramComponent]="activeSymbol"></app-diagram-properties-editor>
  }
}